<head>
  <link href="/assets/web_console/console_sessions.css?body=1" media="all" rel="stylesheet" />
  <link href="/assets/web_console/error_page.css?body=1" media="all" rel="stylesheet" />
  <script src="/assets/jquery.js?body=1"></script>
  <script src="/assets/jquery_ujs.js?body=1"></script>
  <script src="/assets/jquery.console.js?body=1"></script>
  <script src="/assets/web_console/repl_sessions.js?body=1"></script>
</head>

<body>
  <header>
    <h1>
      <%= @exception.class.to_s %>
      <% if @request.parameters['controller'] %>
        in <%= @request.parameters['controller'].camelize %>Controller<% if @request.parameters['action'] %>#<%= @request.parameters['action'] %><% end %>
      <% end %>
    </h1>
  </header>

  <div id="container">
    <h2><%= h @exception.message %></h2>

    <div class="row">
      <div id="console"
        data-remote-path='<%= "console/repl_sessions/#{@console_session.id}" %>'
        data-initial-prompt='<%= @console_session.prompt %>'>
      </div>
    </div>
  </div>
</body>
